<div class="flex justify-center items-center min-h-screen bg-gray-100 flex-col">
  <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl">Please provide verification details</h1>
  <%= render "stepers" %>
  <div class="bg-white p-8 border border-gray-300 rounded-lg shadow-md w-full max-w-md">
    <%= form_with url: verification_details_carriers_path, method: :post, local: true, html: { class: 'your-form-class' } do |form| %>
      <div class="mb-6">
        <%= form.label :account_number, "Your Account Number", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-grey" %>
        <%= form.text_field :account_number, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@flowbite.com" %>
      </div>

      <div class="mb-6">
        <%= form.label :bank_name, "Your Bank Number", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-grey" %>
        <%= form.select(:bank_name, ['Kudo', 'Zenith', 'Other'], {}, { :class => 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' })%>
      </div>

      <div class="mb-6">
        <%= form.label :card_picture, "Please upload your personal picture", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-grey" %>
        <%= form.file_field :card_picture, name: "card_picture", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <div class="mb-6">
        <%= form.label :personal_picture, "Please upload your student card picture", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-grey" %>
        <%= form.file_field :personal_picture, name: "personal_picture", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <div class="text-center">
        <%= form.submit "Submit", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    <% end %>
  </div>
</div>
