<html>
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
      .yellow-color {
        background-color: #febd02;
      }
      header {
        display: none;
      }
      footer {
        display: none;
      }
      #header-section {
        display: none;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
    <div
      class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
    >
      <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
        <div>
          <%= image_tag('app_logo.png', 
          alt: 'LOGO', 
          class: "w-32 mx-auto") %>
        </div>
        <div class="flex flex-col items-center">
          <h1 class="text-2xl xl:text-3xl font-extrabold">
            Sign Up for orderIT
          </h1>
          <div class="w-full flex-1 mt-8">
            <div class="flex flex-col items-center">
            </div>
            <div class="mx-auto max-w-xs">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field">
                  <%= f.text_field :first_name, placeholder: "First Name", required: true, class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"%>
                </div>
                <div class="field">
                  <%= f.text_field :last_name, placeholder: "Last Name", required: true, class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"%>
                </div>
                <div class="field">
                  <%= f.text_field :phone_number, placeholder: "Phone Number", required: true, class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"%>
                </div>
                <div class="field">
                  <%= f.email_field :email, autocomplete: "email", placeholder: "Email Address", class: "w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"%>
                </div>
                <div class="field">
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5' %>
                </div>
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5' %>
                </div>
                <div class="field">
                  <%= f.select :type, [['Customer', 'Customer'], ['Carrier', 'Carrier']], { :include_blank => 'Sign Up as', :required => true },  { class: 'text-gray-500 w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5', required: true } %>
                </div>
              <button
                class="yellow-color mt-5 tracking-wide font-semibold text-dark-100 w-full py-4 rounded-lg hover:bg-orange-color transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
              >
                <svg
                  class="w-6 h-6 -ml-2"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                  <circle cx="8.5" cy="7" r="4" />
                  <path d="M20 8v6M23 11h-6" />
                </svg>
                <span class="ml-3">
                  Sign Up
                </span>
              </button>
              <% end %>
              <p class="mt-6 text-xs text-gray-600 text-center">
                Already have an account? <%= render "devise/shared/links" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
      <%= image_tag('signup_gif.gif', 
          alt: 'LOGO') %>
      </div>
    </div>
  </body>
</html>

