<header class="fixed z-50 top-0 left-0 w-full" id="navbar">
  <% if flash.any? %>
    <div id="flash-messages" class="bg-primary m-4 absolute top-6 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-lg shadow-md">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <div class="p-4 text-white rounded-lg dark:text-gray-300" role="alert">
            <span class="font-medium mr-5"><%= message %></span>
            <button type="button" class="m-auto bg-transparent text-white rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-dark-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700" aria-label="Close" onclick="closeFlashMessages()">
              <span class="sr-only">Close</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <nav class="flex items-center max-w-screen-xl mx-auto px-6 py-3">
    <!-- Left -->
    <div class="flex flex-grow">
      <img class="w-36 cursor-pointer" src="https://makeitsimplett.com/wp-content/uploads/2022/06/logo-update-03.png" alt="logo">
    </div>
    <!-- Right -->
    <div class="flex items-center justify-end space-x-6">
      <%= link_to "Home", root_path, class: "poppins" %>
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-red-600 text-white poppins focus:outline-none transition duration-700 hover:scale-105 sign-out-btn" %>
      <%else%>
        <%= button_to "Sign In", new_user_session_path, class: "poppins rounded-full ring-red-300 focus:outline-none focus:ring-4 transform transition duration-700 hover:scale-105 w-20" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "bg-primary text-white poppins p-2 ring-red-300 focus:outline-none focus:ring-4 transform transition duration-700 hover:scale-105 w-20" %>
      <% end %>
      <button id="cart-drawer-btn" class='poppins focus:outline-none focus:border-none' type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
      </button>
      <span style='margin-left: 2px;' class='bg-primary rounded-full text-white px-2 py-1 text-sm' id='cart-count'><%= cart_count %></span>
    </div>
  </nav>
</header>
<section id='header-section' class="display-size header-banner w-full bg-yellow-50">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-center text-3xl md:text-4xl lg:text-5xl poppins font-semibold text-gray-700">Best food waiting for your belly</h1>
  </div>
</section>
