<!DOCTYPE html>
<html>
  <head>
    <title>FoodShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <!--- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> --->
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      .header-banner {
          background-image: url(<%= asset_path 'bannerbackground.png' %>);;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover
      }
      .poppins {
        font-family: 'Poppins', sans-serif;
      }
      .bg-primary {
        background: #f91944;
      }
      .bg-primary-dark {
        background: #ce193c;
      }
      .text-primary {
        color: #f91944;
      }
      .display-size {
        height: 38rem;
      }
      .transition-bg {
            transition: background-color 0.5s;
      }
      .bg-footer {
        background-color: #4a5568;
      }
      * {
        box-sizing: border-box;
      }

      .input-number, .input-number-decrement, .input-number-increment {
        border: 1px solid #ccc;
        height: 40px;
        user-select: none;
      }

      .input-number {
        width: 80px;
        text-align: center;
        outline: none;
      }

      .input-number-decrement, .input-number-increment {
        display: inline-block;
        width: 30px;
        line-height: 38px;
        background: #f1f1f1;
        color: #444;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }

      .input-number-decrement:active {
        background: #ddd;
      }

      .input-number-decrement {
        border-right: none;
        border-radius: 4px 0 0 4px;
      }

      .input-number-increment {
        border-left: none;
        border-radius: 0 4px 4px 0;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body>
    <%= render 'shared/header' %> 

    <%= render 'shared/cart_drawer' %>
    
    <%= yield %>

    <%= render 'shared/footer' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <script>
        var navbar = document.getElementById('navbar');

        // Function to add or remove the transition class
        function toggleTransition() {
            if (window.scrollY >= 50) {
                navbar.classList.add('bg-white', 'shadow-md', 'transition-bg');
                navbar.classList.remove('bg-transparent');
            } else {
                navbar.classList.add('bg-transparent', 'transition-bg');
                navbar.classList.remove('bg-white', 'shadow-md');
            }
        }
        // Attach the scroll event listener
        window.addEventListener('scroll', toggleTransition);
    </script>
  </body>
</html>